* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    overflow-x: hidden;
}

h1 {
    
    text-align: center;
}

ul {
    display: grid;
    grid-template-columns: 1fr;
}

.divv {
    display: flex;
}

li {
    list-style: none;
    display: grid;
    place-items: center;
    font-size: 0px;
}

.box {
    margin: .5px;
    width: 75px;
    height: 75px;
}

#tog {
    margin: 10px 0px;
}


.allimg {
    width: 45px;
    position: relative;
    bottom: 5px;
}

.allpawn {
    transform: scale(.7);
}

.authcont {
    width: 100vw;
}

.author {
    float: right;
    margin-right: 50px;

}


@media (max-width:650px){

    #tog {
        margin-bottom: 70px;

    }

    .box {
        width: 11vw;
        height: 11vw;
    }

    .allimg {
        width: 7vw;
    }
}

.back-button{
    background-color: #3498db; /* Royal Blue */
    color: #fff; /* White */
    border: 1px solid #3498db; /* Royal Blue border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;     
    font-family: "Roboto";
    font-size: 18px;
    margin-bottom: -10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left:850px
    }
  .back-button:hover{
      background-color:#0056b3
  }